 .DBPostForm {
    color: #61dafb;
    text-align: left;
    padding-left: 25px;
  }
  /*
.user-input {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.input-box {
  margin-right: auto;
  margin-left: auto;
  justify-content: center;  
}

.SubmitButton {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 10em;
  font-size: 80%;
  padding: 0 0 0 0;
} */