.DBGetForm {
    color: #61dafb;
    text-align: left;
    padding-left: 25px;
    padding-top: 25px;  
  }
.dbDisplay {
    padding: 15px 10px 10px 0px;
}

.displayBlogContainer {
  display: flex;
  flex-wrap: wrap;
  width: auto;
}