.ToolbarContainer{
    color: #61dafb; 
    text-align: left;
    padding-left: 25px;
    padding-bottom: 15px;
    background-color: #282c34;
    display: flex ;
    flex-direction: row;
}

.h1 {
    display: flex;
    color: #61dafb; 
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
    font-size: xx-large;
    font-weight: bolder;
    text-decoration: none;
}

.h1:hover{
    color: white ;
}

.false {
    
}

.isActive {
    color: #4197b1;
}

.Dropdown-menu {
    display: none;
}

.burger {
    display:none;
}

@media screen and (max-width: 601px) {
    .ToolbarContainer{
        position: relative;
        display: inline-block;
        width: 100vw;
        background-color: #393f4b;
        padding: 15px 0px 15px 20px;
    }

    .ToolbarContainer:hover .h1 {display: block;}

    .Dropdown-menu{
        display: inline;
        color: #61dafb; 
        text-align: left;
        padding-left: 25px;
        width: 100vw;
        background-color: #393f4b;
        border: none;
        font-size: xx-large;
        font-weight: bolder;
    }
    .Dropdown-menu:hover{
        color: white;
    }

    .h1 {
        display: none ;
        color: #61dafb; 
        text-align: left;
        padding-left: 25px;
        padding-top: 10px;
        font-weight: bolder;
        font-size: large;
        text-decoration: none;
    }
    
    .h1:hover{
        display: inline;
        color: white;
    }
}