.blogContainer {
    background-color: #282c34;
    display: flex;
    flex-direction:column;
    width: 30vw;
    flex-wrap: wrap;
    height: 20vh;
  } 

.indBlog {
    display: flex;
    flex-direction: column;
    padding-right: 0.5vw;
    padding-left: 0.5vw;
}

.x {
    color:white;
    background-color: #235463;
    max-height: 19vh;
} 

